.test_class_btn{
     background: #450076;
}

.closed_class_btn{
     background: #333;
}
.closed_class_btn , .test_class_btn{
     color: #fff;
     max-width: 50%;
     width: 50px;
     padding: 5px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     border-radius: 0;
     outline: none;
     border: 1px solid rgb(0, 0, 0);
}
.fc-highlight{
     background-color:#00bcd4;
}
.fc-day-header{
     background: #333;
     color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.fc-unthemed td.fc-today{
    background-color: #ffc1077a;
  }
  .permission_date{
    color: rgb(255, 204, 0);
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    outline: none;
    background: #de3030;
    border: 1px solid rgb(226, 24, 24);
  }
  .permission_date:hover{
      color: rgb(255, 204, 0);
  }